a {
  text-decoration: none;
}

footer {
  width: 100%;
  display: flex;
  background-color: #340505;
  min-height: 100px;
  border-top: 5px solid #333;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .redes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 1em;
  padding: 1em;
}

footer .redes span {
  width: 50px;
  height: 50px;
  position: relative;
  /* border-radius: 50%; */
  background-color: #fff;
  cursor: pointer;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  transition: 0.6s;
}

footer .redes span::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  transform: translateY(100%);
  transition: 0.3s;
}

footer .redes span#facebook i {
  color: #3b5998;
}

footer .redes span#instagram i {
  color: #dd2a7b;
}

footer .redes span#facebook::before {
  background: linear-gradient(90deg, #3b5998 0%, #4a69ad 100%);
}

footer .redes span#instagram::before {
  background: linear-gradient(45deg, #f58529 0%, #dd2a7b 50%, #8134af 100%);
}

footer .redes span:hover::before {
  transform: translateY(0);
}

footer .redes span#facebook:hover i,
footer .redes span#instagram:hover i {
  color: #fff;
}

footer .redes span i {
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1000;
}

footer .copryght {
  width: 80%;
  padding: 1em;
  text-align: center;
  background-color: #0000008f;
  flex: 1;
  color: #eee;
  font-size: 14px;
  font-weight: 600;
}
