<footer>
  <div class="redes">
    <a href="https://www.facebook.com/institutozimbaue" target="_blank">
      <span id="facebook" pTooltip="Facebook" tooltipPosition="left">
        <i class="pi pi-facebook"></i>
      </span>
    </a>
    <a href="https://www.instagram.com/institutozimbaue/" target="_blank">
      <span id="instagram" pTooltip="Instagram" tooltipPosition="right">
        <i class="pi pi-instagram"></i>
      </span>
    </a>
  </div>
  <div class="copryght">&copy;2024 - Todos os direitos reservados</div>
</footer>
