main {
  padding: 1em;
}

main .banner-eventos {
  display: flex;
  padding: 2em;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  grid-gap: 2em;
  overflow: hidden;
}

.texto-eventos {
  max-width: 40%;
}

.texto-eventos h3 {
  margin-bottom: 0.5em;
  font-size: 2.2em;
  position: relative;
  color: #d5a37b;
}

.texto-eventos h3::before {
  position: absolute;
  width: 10%;
  bottom: -10px;
  height: 2px;
  background-color: #d5a37b;
  content: "";
}

.img-banner-eventos {
  flex: 2;
  overflow: hidden;
  min-width: 450px;
  height: 100%;
}

.img-banner-eventos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lista-eventos {
  width: 100%;
  margin-top: 4em;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-gap: 2em;
}

.lista-eventos .titulo {
  text-align: center;
  font-weight: 400;
  color: #333;
  position: relative;
  margin-bottom: 1em;
}

.lista-eventos .titulo::before {
  content: "";
  position: absolute;
  width: 120px;
  transform: translateX(-20px);
  top: -10px;
  background-color: #333;
  height: 3px;
}

.lista-eventos .titulo::after {
  content: "";
  position: absolute;
  width: 120px;
  transform: translateX(-100px);
  bottom: -10px;
  margin: auto;
  background-color: #333;
  height: 3px;
}

.lista-eventos .listagem {
  display: flex;
  grid-gap: 3em;
  flex-wrap: wrap;
  padding: 0em 1em;
  justify-content: center;
  align-items: center;
}

.card-evento {
  display: flex;
  flex-direction: column;
  grid-gap: 0.5em;
  max-width: 250px;
  height: 470px;
  border-radius: 20px;
  border: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.3) 4px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    overflow: hidden;
}

.card-evento .header-card {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
}

.card-evento .header-card h6 {
  text-align: center;
  color: #333;
}

.card-evento .img-card {
  width: 100%;
  background: center center no-repeat;
  background-size: cover;
  height: 200px;
}

.card-evento .body-card {
  font-size: 14px;
  padding: 10px;
  height: 100%;
}

@media (max-width: 950px) {
  main .banner-eventos {
    padding-top: 5em;
  }
  .texto-eventos {
    max-width: 90%;
    text-align: center;
  }
  .lista-eventos .listagem .evento.ativo {
    text-align: center;
  }
  .lista-eventos .listagem .evento.ativo .localizacao {
    width: 100%;
  }
}
