<main>
  <section class="home">
    <div class="texto-apresentacao-secao">
      <h1>Empoderando Vidas, Transformando Realidades</h1>
    </div>
  </section>
  <section class="missao">
    <div class="texto-apresentacao-secao">
      <h2 class="titulo-secao">Nossos Valores</h2>
      <p>
        O Instituto Negro Zimbaue trabalha para promover a inclusão social e o
        empoderamento da comunidade negra, garantindo acesso à educação, cultura
        e oportunidades econômicas.
      </p>
    </div>
    <div class="lista-valores">
      <div class="valores reverter">
        <div class="texto-valores">
          <h3>Inclusão</h3>
          <p>
            No Instituto Negro Zimbaue, acreditamos que todos, independentemente
            de sua origem, cor, ou classe social, devem ter oportunidades iguais
            para desenvolver seu potencial. Nossa missão é criar espaços
            inclusivos que acolhem a diversidade e garantem que cada indivíduo
            seja ouvido e respeitado em nossa comunidade.
          </p>
        </div>
        <div class="image-valor">
          <img src="../../../assets/Valores/Inclusao.jpg" alt="" />
        </div>
      </div>
      <div class="valores">
        <div class="image-valor">
          <img src="../../../assets/Valores/respeito.jpg" alt="" />
        </div>
        <div class="texto-valores">
          <h3>Respeito</h3>
          <p>
            O respeito está no coração de tudo o que fazemos. Valorizamos a
            dignidade humana e promovemos um ambiente de empatia e consideração,
            onde as experiências e histórias da comunidade negra são
            reconhecidas e celebradas. Respeitar as diferenças é essencial para
            fortalecer os laços de solidariedade e construir uma sociedade mais
            justa.
          </p>
        </div>
      </div>
      <div class="valores reverter">
        <div class="texto-valores">
          <h3>Equidade</h3>
          <p>
            Promovemos a equidade como um princípio fundamental para combater as
            desigualdades históricas que afetam a comunidade negra. Trabalhamos
            para garantir que todos tenham acesso a oportunidades justas e que
            as condições sociais e econômicas sejam transformadas para gerar
            igualdade real, não apenas em teoria.
          </p>
        </div>
        <div class="image-valor">
          <img src="../../../assets/Valores/Equidade.jpg" alt="" />
        </div>
      </div>
      <div class="valores">
        <div class="image-valor">
          <img src="../../../assets/Valores/cultura.jpg" alt="" />
        </div>
        <div class="texto-valores">
          <h3>Cultura</h3>
          <p>
            A cultura negra é rica, diversa e vibrante, e o Instituto Negro
            Zimbaue se dedica a preservar, promover e celebrar essa herança.
            Valorizamos as tradições, a arte, a música, e os saberes ancestrais
            como pilares que fortalecem nossa identidade e nos conectam com
            nossas raízes, ao mesmo tempo em que construímos o futuro.
          </p>
        </div>
      </div>
      <div class="valores reverter">
        <div class="texto-valores">
          <h3>Autonomia</h3>
          <p>
            Acreditamos no poder de capacitar indivíduos e comunidades para
            serem agentes de mudança em suas próprias vidas. Por meio da
            educação, formação e desenvolvimento de habilidades, buscamos
            promover a autonomia, para que cada pessoa possa alcançar sua
            independência e contribuir de forma significativa para a sociedade.
          </p>
        </div>
        <div class="image-valor">
          <img src="../../../assets/Valores/autonomia.jpg" alt="" />
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section class="ods">
    <div class="descricao-secao">
      <div class="texto">
        <h6>Essa instituisão contribui para o progresso do ODS nº 10.</h6>
        <hr>
        <p>
          A desigualdade social pode ser entendida como a diferença entre as
          classes sociais, que acontece pela má distribuição de renda. As
          desigualdades podem afetar a expectativa de vida, o acesso a serviços
          básicos e os direitos humanos.
        </p>
      </div>
      <img src="../../../assets/Valores/imagem-ods.png" alt="" />
    </div>
  </section>
</main>
