<main>
  <section class="banner-apresentacao">
    <h1>
      Transformando Escolas, Transformando Vidas: O Papel do Instituto Zimbaue
    </h1>
    <p>
      Entre os pretos e pardos, são apenas 16,4% cursando uma graduação e 2,9%
      com o diploma. Essa diferença tem relação direta com outra estatística: a
      de escolarização média da população desses dois grupos. No grupo de
      pessoas brancas, 60% completou ao menos o ensino médio.
    </p>
  </section>
  <section class="apresentacao-pagina">
    <h2>O Sistema Educacional Brasileiro</h2>
    <p>
      O sistema educacional brasileiro é regido pela Lei de Diretrizes e Bases
      da Educação Nacional (LDB), que organiza a educação em dois níveis
      principais: educação básica e educação superior. A educação básica inclui
      educação infantil (creche e pré-escola), ensino fundamental e ensino
      médio, podendo ser oferecida de forma regular, especial ou para jovens e
      adultos. A educação superior abrange cursos de graduação, pós-graduação e
      outros, como sequenciais e de extensão. A LDB também trata da educação
      profissional e tecnológica, que abrange qualificações em níveis técnico e
      tecnológico.
    </p>
    <i
      >Mais abaixo comentaremos mais sobre alguns aspectos, mostrando inclusive
      dados estatísticos, como tabelas e gráficos!</i
    >
  </section>
  <hr />
  <section class="grafico-1">
    <div class="texto">
      <p>
        Este gráfico ilustra uma melhoria contínua na frequência escolar dos
        jovens de 15 a 17 anos ao longo dos anos, embora ainda existam
        desigualdades significativas entre os grupos de raça/cor e sexo. (Em
        porcentagem, %)
      </p>
    </div>
    <div class="grafico">
      <p-chart
        type="bar"
        [data]="informacoesGrafico1AbandonoEscolar"
        [options]="basicOptions"
      />
    </div>
  </section>
  <hr />
  <section class="grafico-2">
    <div class="texto">
      <h2 class="titulo-secao">Nivel de Escolaridade</h2>
      <p>
        A desigualdade educacional entre brancos e negros no Brasil é uma
        realidade visível em todas as etapas da escolaridade, desde o ensino
        básico até o ensino superior. Essa disparidade é refletida em diversos
        fatores, como o acesso a escolas de qualidade, a evasão escolar e a
        continuidade nos estudos. Enquanto jovens brancos têm mais oportunidades
        e recursos disponíveis, jovens negros e pardos frequentemente enfrentam
        maiores barreiras, como a falta de infraestrutura adequada, professores
        mal remunerados e discriminação racial no ambiente escolar.
      </p>
      <p>
        Essas dificuldades no percurso educacional impactam diretamente o
        desenvolvimento acadêmico e pessoal dos estudantes negros, muitas vezes
        causando desmotivação e uma consequente queda no interesse pelos
        estudos. A falta de apoio e as condições desiguais resultam em uma menor
        taxa de conclusão do ensino médio e ingresso no ensino superior,
        limitando também as oportunidades de ascensão social e profissional. A
        superação dessas barreiras depende de políticas públicas inclusivas e de
        um compromisso social com a equidade racial na educação."
      </p>
    </div>
    <div class="imagem-representativa">
      <img src="../../../assets/Educacao/Desigualdade.png" alt="" />
    </div>
  </section>
  <hr />
  <section class="grafico-1">
    <div class="texto">
      <h2 class="titulo-secao">Pessoas de 18 a 24 anos de idade</h2>
      <p>
        Este gráfico mostra os indicadores de educação para pessoas de 18 a 24
        anos, segundo o sexo, a cor ou raça, e as grandes regiões do Brasil. Os
        dados são divididos em diferentes categorias de indicadores de educação,
        destacando a taxa de escolarização, a frequência escolar adequada, o
        atraso escolar, e a condição de quem não frequenta a escola.
      </p>
    </div>
    <div class="grafico">
      <table class="tabela-dados">
        <caption>
          Pessoas de 18 a 24 anos de idade, por indicadores de educação, segundo
          o sexo, a cor ou raça e as Grandes Regiões (%)
        </caption>
        <thead>
          <tr class="header-column">
            <th rowspan="2">Sexo, cor ou raça e Grandes Regiões</th>
          </tr>
          <tr class="header-column">
            <th>Taxa de escolarização (1)</th>
            <th>Taxa ajustada de frequência escolar líquida (2)</th>
            <th>Frequência escolar adequada</th>
            <th>Atraso escolar dos estudantes</th>
            <th>Não frequenta escola e já concluiu a etapa</th>
            <th>Não frequenta escola e não concluiu a etapa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total</td>
            <td>30,5</td>
            <td>25,9</td>
            <td>21,6</td>
            <td>8,9</td>
            <td>4,3</td>
            <td>65,2</td>
          </tr>
          <tr>
            <td colspan="8" class="divisorias"><strong>Sexo</strong></td>
          </tr>
          <tr>
            <td>Homem</td>
            <td>27,7</td>
            <td>21,8</td>
            <td>18,3</td>
            <td>9,4</td>
            <td>3,5</td>
            <td>68,8</td>
          </tr>
          <tr>
            <td>Mulher</td>
            <td>33,4</td>
            <td>30,1</td>
            <td>25,1</td>
            <td>8,3</td>
            <td>5,1</td>
            <td>61,5</td>
          </tr>
          <tr>
            <td colspan="8" class="divisorias"><strong>Cor ou raça</strong></td>
          </tr>
          <tr>
            <td>Branca</td>
            <td>36,5</td>
            <td>36,0</td>
            <td>29,5</td>
            <td>7,0</td>
            <td>6,5</td>
            <td>57,0</td>
          </tr>
          <tr>
            <td>Preta ou parda</td>
            <td>26,5</td>
            <td>19,3</td>
            <td>16,4</td>
            <td>10,1</td>
            <td>2,9</td>
            <td>70,6</td>
          </tr>
          <tr>
            <td colspan="8" class="divisorias">
              <strong>Grandes Regiões</strong>
            </td>
          </tr>
          <tr>
            <td>Norte</td>
            <td>31,8</td>
            <td>21,7</td>
            <td>19,1</td>
            <td>12,7</td>
            <td>2,7</td>
            <td>65,5</td>
          </tr>
          <tr>
            <td>Nordeste</td>
            <td>28,9</td>
            <td>20,5</td>
            <td>17,6</td>
            <td>11,3</td>
            <td>2,8</td>
            <td>68,3</td>
          </tr>
          <tr>
            <td>Sudeste</td>
            <td>30,2</td>
            <td>28,6</td>
            <td>23,2</td>
            <td>7,0</td>
            <td>5,3</td>
            <td>64,5</td>
          </tr>
          <tr>
            <td>Sul</td>
            <td>32,9</td>
            <td>29,7</td>
            <td>25,1</td>
            <td>7,8</td>
            <td>4,3</td>
            <td>62,4</td>
          </tr>
          <tr>
            <td>Centro-Oeste</td>
            <td>32,4</td>
            <td>30,4</td>
            <td>25,3</td>
            <td>7,1</td>
            <td>5,1</td>
            <td>62,4</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <hr />
  <section class="grafico-3">
    <div class="texto">
      <h2 class="titulo-secao">Abandono Escolar</h2>
      <p>
        O gráfico abaixo irá mostrar o número de pessoas de 14 a 29 anos que não
        frequentam a escola e possuem um nível de instrução inferior ao ensino
        médio completo, distribuídas por sexo e cor ou raça, segundo dados da
        Pesquisa Nacional por Amostra de Domicílios Contínua 2023.
      </p>
      <p>Também foram listados alguns dos principais pontos desta pesquisa:</p>
      <div class="lista-pontos">
        <div class="item-lista">
          <div class="numeracao">
            <strong>01</strong> <span><i class="pi pi-percentage"></i></span>
          </div>
          <div class="texto-lista">
            <h6>Total</h6>
            <p>
              9 milhões de pessoas nesta faixa etaéria não frequentam a escola,
              ou não a concluíram.
            </p>
          </div>
        </div>
        <div class="item-lista">
          <div class="numeracao">
            <strong>02</strong> <span><i class="pi pi-percentage"></i></span>
          </div>
          <div class="texto-lista">
            <h6>Distribuição por Sexo</h6>
            <p>
              <strong>Homens:</strong> Totalizam 5.2 milhões, representando
              58.1% do valor total.
            </p>
            <p>
              <strong>Mulheres:</strong> Totalizam 3.8 milhões, sendo o
              equivalente a 41.9% do valor total.
            </p>
          </div>
        </div>
        <div class="item-lista">
          <div class="numeracao">
            <strong>03</strong> <span><i class="pi pi-percentage"></i></span>
          </div>
          <div class="texto-lista">
            <h6>Distribuição por Cor ou Raça</h6>
            <p>
              <strong>Brancos</strong> São 2.5 milhões, oque representa 27.4% do
              total.
            </p>
            <p>
              <strong>Negros ou Pardos</strong> São 6.4 milhões, correspondente
              a 71.4% do total.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="grafico">
      <p-chart type="bar" [data]="graficoDoAbandonoEscolar"></p-chart>
    </div>
  </section>
  <hr />
  <section class="grafico-1">
    <div class="texto">
      <h2 class="titulo-secao">Distribuição por Grandes Regiões</h2>
      <p>
        A tabela abaixo mostra que o abandono escolar é mais frequente entre os
        17 e 18 anos, com os homens e pessoas pretas ou pardas apresentando
        taxas mais altas de abandono escolar em idades precoces. As regiões do
        Norte e Nordeste apresentam percentuais de abandono maiores em idades
        mais jovens em comparação às regiões Sul e Sudeste
      </p>
    </div>
    <div class="grafico">
      <table class="tabela-dados">
        <caption>
          Pessoas de 14 a 29 anos de idade, com nível de instrução inferior ao
          médio completo e que já frequentaram a escola, sendo por o sexo, a cor
          ou raça e as Grandes Regiões (%).
        </caption>
        <thead>
          <tr class="header-column">
            <th rowspan="2">Sexo, cor ou raça e Grandes Regiões</th>
          </tr>
          <tr class="header-column">
            <th>Até os 13 anos</th>
            <th>14 anos</th>
            <th>15 anos</th>
            <th>16 anos</th>
            <th>17 anos</th>
            <th>18 anos</th>
            <th>19 anos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Total</td>
            <td>6.2</td>
            <td>6.6</td>
            <td>12.6</td>
            <td>16.0</td>
            <td>19.5</td>
            <td>21.1</td>
            <td>17.9</td>
          </tr>
          <tr>
            <td colspan="8" class="divisorias"><strong>Sexo</strong></td>
          </tr>
          <tr>
            <td>Homem</td>
            <td>6.1</td>
            <td>5.9</td>
            <td>12.2</td>
            <td>15.2</td>
            <td>19.7</td>
            <td>22.4</td>
            <td>18.4</td>
          </tr>
          <tr>
            <td>Mulher</td>
            <td>6.4</td>
            <td>7.6</td>
            <td>13.3</td>
            <td>17.0</td>
            <td>19.2</td>
            <td>19.1</td>
            <td>17.2</td>
          </tr>
          <tr>
            <td colspan="8" class="divisorias"><strong>Cor ou raça</strong></td>
          </tr>
          <tr>
            <td>Branca</td>
            <td>5.4</td>
            <td>6.7</td>
            <td>12.3</td>
            <td>17.0</td>
            <td>20.6</td>
            <td>22.7</td>
            <td>15.2</td>
          </tr>
          <tr>
            <td>Preta ou parda</td>
            <td>6.6</td>
            <td>6.6</td>
            <td>12.8</td>
            <td>13.0</td>
            <td>15.9</td>
            <td>19.3</td>
            <td>24.5</td>
          </tr>
          <tr>
            <td colspan="8" class="divisorias">
              <strong>Grandes Regiões</strong>
            </td>
          </tr>
          <tr>
            <td>Norte</td>
            <td>7.4</td>
            <td>7.2</td>
            <td>12.8</td>
            <td>13.0</td>
            <td>15.9</td>
            <td>19.3</td>
            <td>24.5</td>
          </tr>
          <tr>
            <td>Nordeste</td>
            <td>7.3</td>
            <td>6.4</td>
            <td>12.0</td>
            <td>14.4</td>
            <td>18.3</td>
            <td>20.1</td>
            <td>21.6</td>
          </tr>
          <tr>
            <td>Sudeste</td>
            <td>5.3</td>
            <td>6.9</td>
            <td>13.1</td>
            <td>17.0</td>
            <td>21.2</td>
            <td>22.6</td>
            <td>13.8</td>
          </tr>
          <tr>
            <td>Sul</td>
            <td>5.5</td>
            <td>6.1</td>
            <td>13.5</td>
            <td>18.7</td>
            <td>21.4</td>
            <td>20.4</td>
            <td>14.0</td>
          </tr>
          <tr>
            <td>Centro-Oeste</td>
            <td>5.3</td>
            <td>6.1</td>
            <td>11.6</td>
            <td>17.8</td>
            <td>19.3</td>
            <td>22.3</td>
            <td>17.5</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <hr />
  <section class="grafico-3">
    <div class="texto">
      <h2 class="titulo-secao">Nivel de Escolaridade</h2>
      <p>
        Este gráfico de barras horizontais exibe a distribuição percentual de
        pessoas entre 15 e 29 anos, segmentadas por condição de estudo e
        situação na ocupação. Ele está dividido em duas seções principais: uma
        que considera a sexo e cor/raça (Total, Homem, Mulher, Branca e Preta ou
        Parda) e outra que considera os grupos de idade (15 a 17 anos, 18 a 24
        anos e 25 a 29 anos).
      </p>
      <p>
        O gráfico permite observar diferenças claras na ocupação e qualificação
        entre homens e mulheres, diferentes grupos raciais e faixas etárias,
        destacando, por exemplo, a alta proporção de jovens entre 15 e 17 anos
        que não estavam ocupados nem se qualificavam.
      </p>
      <div class="lista-pontos">
        <div class="item-lista">
          <div class="numeracao">
            <strong>01</strong> <span><i class="pi pi-palette"></i></span>
          </div>
          <div class="texto-lista">
            <h6>Verde</h6>
            <p>
              Representa os que estudavam ou se qualificavam e estavam ocupados.
            </p>
          </div>
        </div>
        <div class="item-lista">
          <div class="numeracao">
            <strong>02</strong> <span><i class="pi pi-palette"></i></span>
          </div>
          <div class="texto-lista">
            <h6>Vermelho</h6>
            <p>
              Representa os que não estudavam nem se qualificavam, mas estavam
              ocupados.
            </p>
          </div>
        </div>
        <div class="item-lista">
          <div class="numeracao">
            <strong>03</strong> <span><i class="pi pi-palette"></i></span>
          </div>
          <div class="texto-lista">
            <h6>Laranja</h6>
            <p>
              Representa os que estudavam ou se qualificavam, mas não estavam
              ocupados.
            </p>
          </div>
        </div>
        <div class="item-lista">
          <div class="numeracao">
            <strong>04</strong> <span><i class="pi pi-palette"></i></span>
          </div>
          <div class="texto-lista">
            <h6>Azul</h6>
            <p>
              Representa os que não estudavam nem se qualificavam e também não
              estavam ocupados.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="grafico">
      <p-chart
        type="bar"
        [data]="grafico3"
        [options]="opcoesGrafico3"
      ></p-chart>
    </div>
  </section>
</main>
