<main>
  <section class="descricao-premio-zumbi">
    <div class="informacoes-banner">
      <h1 class="titulo-banner">
        Oque é o <span>"Diploma de Mérito Zumbi dos Palmares"</span>?
      </h1>
      <div class="divisor"></div>
      <p class="descricao-banner">
        O Diploma de Mérito Zumbi dos Palmares de Assis é uma honraria concedida
        a personalidades negras do município de Assis que se destacam em suas
        áreas de atuação e contribuem para a luta contra o preconceito e a
        desigualdade racial. Essa homenagem é uma forma de reconhecer a
        importância da cultura afrodescendente e de celebrar a história e as
        conquistas do povo negro.
      </p>
      <p class="descricao-banner">
        A escolha do nome
        <span class="zumbi-palmares">Zumbi dos Palmares</span>
        para essa homenagem não é por acaso. Zumbi foi um líder quilombola que
        lutou contra a escravidão no Brasil colonial. Ele se tornou um símbolo
        da resistência negra e da luta por liberdade. Ao nomear o prêmio em sua
        homenagem, busca-se valorizar a história e a luta do povo negro e
        inspirar novas gerações a seguirem seus passos.
      </p>
      <a
        href="https://www.camaravalinhos.sp.gov.br/?module=noticias&id=7115"
        target="_blank"
      >
        <button class="ver-mais">Veja Mais</button>
      </a>
    </div>
  </section>
  <section class="premiadores">
    <div class="descricao-secao">
      <h3>Ganhadores do Prêmio</h3>
      <p>
        Nesta parte abordares os ganhadores do Diploma de Mérito
        <span>"Zumbi dos Palmares"</span>. Trazendo data da prêmiação, nome, e
        algumas informações complementares sobre as figuras!
      </p>
      <i class="observacoes"
        >Observação: Alguns não foram encontrados fotos, por isso estão com a
        imagem do premio!</i
      >
    </div>
    <div class="lista">
      <div class="pessoa-elemento" *ngFor="let pessoa of pessoas_premiadas">
        <div class="img-pessoa-premiada">
          <img
            [src]="
              '../../../assets/Premiados/' +
              (pessoa.imagem
                ? pessoa.imagem.toLowerCase().replace(' ', '-')
                : 'default-image') +
              '.jpg'
            "
          />
        </div>
        <h6>{{ pessoa.nome }}</h6>
        <button class="btn-ver-pessoa" (click)="showDialog(pessoa)">
          Veja Mais
        </button>
      </div>
    </div>
  </section>
</main>
<p-dialog
  header="{{ pessoa_selecionada?.nome }}"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ maxWidth: '60rem' }"
  [modal]="true"
  [responsive]="true"
  [closable]="true"
  [draggable]="false"
>
  <div class="body-dialog">
    <div class="informacoes-pessoa">
      <div class="descricao-premio">
        <p>
          {{ pessoa_selecionada?.detalhes }}
        </p>
        <span><strong>Data: </strong> {{ pessoa_selecionada?.data }}</span>
      </div>
    </div>
  </div>
</p-dialog>
