<header
  id="barraDeNavegacao"
  #barraDeNavegacao
  [ngClass]="{ 'navbar-ativa': navbarAberta, 'navbar-fechada': !navbarAberta }"
>
  <nav>
    <div class="img-logo">
      <img src="" alt="" />
    </div>
    <ul class="links-nav">
      <li [ngClass]="{ ativo: rotaAtiva === HOME }">
        <a routerLink="/">HOME</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === SOBRE }">
        <a routerLink="/sobre-nos">SOBRE NÓS</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === EVENTOS }">
        <a routerLink="/eventos">EVENTOS</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === ENSINO }">
        <a routerLink="/ensino">ENSINO</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === PREMIACOES }">
        <a routerLink="/premiacoes">PRÊMIO ZUMBI</a>
      </li>
    </ul>
  </nav>
</header>
<i class="pi pi-bars" id="fora-header" (click)="alterarNavbar()"></i>
