<!-- <header
  id="barraDeNavegacao"
  #barraDeNavegacao
  [ngClass]="{ 'navbar-ativa': navbarAberta, 'navbar-fechada': !navbarAberta }"
>
  <nav>
    <div class="img-logo">
      <img src="" alt="" />
    </div>
    <ul class="links-nav">
      <li [ngClass]="{ ativo: rotaAtiva === HOME }">
        <a routerLink="/">HOME</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === SOBRE }">
        <a routerLink="/sobre-nos">SOBRE NÓS</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === EVENTOS }">
        <a routerLink="/eventos">EVENTOS</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === ENSINO }">
        <a routerLink="/ensino">ENSINO</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === PREMIACOES }">
        <a routerLink="/premiacoes">PRÊMIO ZUMBI</a>
      </li>
    </ul>
  </nav>
</header>
<i class="pi pi-bars" id="fora-header" (click)="alterarNavbar()"></i> -->
<header [ngClass]="{ 'navbar-ativa': navbarAberta }">
  <div class="header-sidebar">
    <a routerLink="/">
      <div class="logofoto"></div>
    </a>
    <h4 class="logotipo">Zimbaue</h4>
  </div>
  <div class="link-pages">
    <ul>
      <li [ngClass]="{ ativo: rotaAtiva === HOME }">
        <a routerLink="/"><i class="pi pi-home"></i>Home</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === SOBRE }">
        <a routerLink="/sobre-nos"><i class="pi pi-users"></i>Sobre Nós</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === EVENTOS }">
        <a routerLink="/eventos"><i class="pi pi-calendar"></i>Eventos</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === ENSINO }">
        <a routerLink="/ensino"><i class="pi pi-book"></i>Ensino</a>
      </li>
      <li [ngClass]="{ ativo: rotaAtiva === PREMIACOES }">
        <a routerLink="/premiacoes"><i class="pi pi-trophy"></i>Prêmio Zumbi</a>
      </li>
    </ul>
  </div>
  <i class="pi pi-bars" id="fora-header" (click)="alterarNavbar()"></i>
</header>
